/*
Complètement pompé sur https://github.com/kepano/obsidian-minimal/blob/master/src/scss/features/cards.scss
et je l'assume
*/

:root {
	--cards-min-width: 180px;
	--cards-max-width: 1fr;
	--cards-mobile-width: 120px;
	--cards-image-height: 140px;
	--cards-padding: 1.2em;
	--cards-image-fit: contain;
	--cards-background: transparent;
	--cards-border-width: 1px;
	--cards-aspect-ratio: auto;
	--cards-columns: repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)));
	--background-modifier-border: hsl(0, 0%, calc(15% + 6%));
	--background-modifier-border-hover: hsl(0, 0%, calc(15% + 12%));
}

@media (max-width:400pt) {
	:root {
		--cards-min-width: var(--cards-mobile-width);
	}
}

.jukebox {
	position: relative;
}

.jukebox span {
	display: contents;
}

/* #region thumbnail */
.jukebox .thumb-stack {
	display: grid;
}

.jukebox img {
	object-fit: cover;
	width: 100%;
	/* width: auto; */
	max-height: var(--cards-image-height);
	;

	pointer-events: none;
	z-index: -1;
	grid-column: 1;
	grid-row: 1;
	align-self: center;
	justify-self: center;
}

.jukebox img {
	animation: fadeInAnimation ease 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* #endregion */

.jukebox .grid {
	padding: 0.5rem 0;
	display: grid;
	grid-template-columns: var(--cards-columns);
	grid-column-gap: 0.75rem;
	grid-row-gap: 0.75rem;
}

/*#region .article*/
.jukebox article {
	z-index: 0;
	/* needed for mobile ?*/
	position: relative;
	background-color: var(--cards-background);
	border: var(--cards-border-width) solid var(--background-modifier-border);
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 0 calc(var(--cards-padding)/3) 0;
	border-radius: 6px;
	overflow: hidden;
	transition: box-shadow 0.15s linear;
	max-width: var(--cards-max-width);
}

.jukebox article:hover {
	border: var(--cards-border-width) solid var(--background-modifier-border-hover);
	box-shadow:
		0 4px 6px 0px rgba(0, 0, 0, 0.05),
		0 1px 3px 1px rgba(0, 0, 0, 0.025);
	transition: box-shadow 0.15s linear;
}

.jukebox article.add-file {
	min-height: var(--cards-image-height);
	cursor: pointer;
	padding: 0;
	justify-content: center;
	align-items: center;
	color: var(--background-modifier-border);
}

.jukebox article.add-file:hover {
	color: var(--background-modifier-border-hover);
}

/*#endregion*/

/*#region .audio-player*/
/* build from: https://blog.shahednasser.com/how-to-style-an-audio-element/ */
.jukebox .audio-player {
	opacity: 0.8;
	transition: opacity 0.3s ease;

	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: none;
	aspect-ratio: 1/1;
	height: auto;
	width: auto;

	grid-column: 1;
	grid-row: 1;
	align-self: center;
	justify-self: center;
}

@media (hover: hover) {
	.jukebox .audio-player:hover {
		opacity: 1;
	}
}

.jukebox button.player-button {
	color: var(--color-accent);
	background-color: transparent;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	pointer-events: auto;
	padding: 0 !important;
}

/* To get rid of the hideous semi-transparent white rectangle when hovering over it */
body:not(.is-mobile) .jukebox button.player-button:not(.active):hover {
	background: none;
}

.jukebox .player-button svg {
	width: 48px;
	height: 48px;
}

/* #endregion */

/* #region .timeline */
.jukebox .timeline {
	/* Strange behaviour, all inputs don't respond equally to this ?_? some are smaller than others */
	height: 2px;
	width: auto;
	border-radius: 5px;
	background-size: 0% 100%;
	background-image: linear-gradient(var(--color-accent), var(--color-accent));
	background-repeat: no-repeat;
}

.jukebox .timeline::-webkit-slider-thumb {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border-color: transparent;
	cursor: pointer;
	opacity: 0;
	transition: all .1s;
	background-color: var(--color-accent);
}

.jukebox .timeline::-webkit-slider-thumb:hover {
	background-color: var(--color-accent);
}

.jukebox .timeline:hover::-webkit-slider-thumb {
	opacity: 1;
}

.jukebox .timeline::-webkit-slider-runnable-track {
	box-shadow: none;
	border: none;
	background: transparent;
}

/* #endregion */

.jukebox span.file-link {
	display: inline-block;
	padding: calc(var(--cards-padding)/2) 0;
	border-bottom: none;
	font-size: var(--table-text-size);
	font-weight: 600;
	line-height: 1.2;
	width: calc(100% - var(--cards-padding));
	margin: 0 auto;
	overflow: visible !important;
	max-width: 100%;
	display: flex;
}

.jukebox span.url-link a {
	position: absolute;
	top: 4px;
	right: 8px;

	/* To remove the icon added by default next to external-link */
	background-image: none;
	padding: 0;

	/* To remove the [object HTMLImageElement] text */
	font-size: 0;
}

/* ONLY for Link Favicons users */
.jukebox img.link-favicon {
	display: none !important;
}

/*#region .timecode*/
.jukebox .timecode {
	background-color: rgba(0, 0, 0, .8);
	display: flex;
	justify-content: center;
	align-items: center;

	grid-column: 1;
	grid-row: 1;
	align-self: flex-end;
	justify-self: end;

	border-radius: 5px;
	padding: 0 4px;
	margin: 2px;
}

.jukebox .timecode span {
	display: inline-block;
	font-size: 0.8em;
	font-weight: 600;
}

/* #endregion */