/*
The grid layout is copied from there https://github.com/kepano/obsidian-minimal/blob/master/src/scss/features/cards.scss
*/

:root {
	--gallery-cards-min-width: 180px;
	--gallery-cards-max-width: 1fr;
	--gallery-cards-mobile-width: 120px;
	--gallery-cards-image-height: 140px;
	--gallery-cards-padding: 1.2em;
	--gallery-cards-image-fit: cover;
	--gallery-cards-background: transparent;
	--gallery-cards-border-width: 1px;
	--gallery-cards-border-radius:6px;
	/* --cards-aspect-ratio: auto; */
	--gallery-cards-columns: repeat(auto-fit, minmax(var(--gallery-cards-min-width), var(--gallery-cards-max-width)));
	--gallery-background-modifier-border: hsl(0, 0%, 20%);
	--gallery-background-modifier-border-hover: hsl(0, 0%, 25%);
	--gallery-background-modifier-border-light: hsl(0, 0%, 80%);
	--gallery-background-modifier-border-hover-light: hsl(0, 0%, 85%);
}

@media (max-width:400pt) {
	:root {
		--gallery-cards-min-width: var(--gallery-cards-mobile-width);
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.gallery {

position: relative;
cursor: default;

span {
	display: contents;
}

/* #region thumbnail */
.thumb-stack {
	display: grid;
}

.thumb-stack .internal-link {
	display: inherit;
}

img {
	object-fit: var(--gallery-cards-image-fit);
	width: 100%;
	max-height: var(--gallery-cards-image-height);
	border-radius: var(--gallery-cards-border-radius);
	margin: 0;
	pointer-events: none;
	z-index: -1;
	grid-column: 1;
	grid-row: 1;
	align-self: center;
	justify-self: center;
}

img {
	animation: fadeInAnimation ease 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}


/* #endregion */

.grid {
	display: grid;
	grid-template-columns: var(--gallery-cards-columns);
	grid-column-gap: 0.75rem;
	grid-row-gap: 0.75rem;
}

/*#region .item*/
.theme-light & .item {
	border: var(--gallery-cards-border-width) solid var(--gallery-background-modifier-border-light);
}

.theme-light & .item:hover {
	border: var(--gallery-cards-border-width) solid var(--gallery-background-modifier-border-hover-light);
}

.item {
	z-index: 0;
	/* needed for mobile ?*/
	position: relative;
	background-color: var(--gallery-cards-background);
	border: var(--gallery-cards-border-width) solid var(--gallery-background-modifier-border);
	display: flex;
	flex-direction: column;
	margin: 0;
	border-radius: var(--gallery-cards-border-radius);
	overflow: hidden;
	transition: box-shadow 0.15s linear;
	max-width: var(--gallery-cards-max-width);
}

.item:hover {
	border: var(--gallery-cards-border-width) solid var(--gallery-background-modifier-border-hover);
	box-shadow:
		/* 0 4px 6px 0px rgba(0, 0, 0, 0.05), */
		/* 0 1px 3px 1px rgba(0, 0, 0, 0.025); */
		0 4px 6px 0px rgba(0, 0, 0, 0.1),
		0 1px 3px 1px rgba(0, 0, 0, 0.05);
	transition: box-shadow 0.15s linear;
}

/*#endregion*/

/* #region links */

span.file-link {
	display: inline-block;
	padding: calc(var(--gallery-cards-padding)/2) 0;
	border-bottom: none;
	font-size: var(--table-text-size);
	font-weight: 600;
	line-height: normal;
	width: calc(100% - var(--gallery-cards-padding));
	margin: auto;
	overflow-wrap: anywhere;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

/* For better integration of the Metadata Menu icons */
.fileclass-icon {
	align-self: center;
}

/* ONLY for Link Favicons users */
img.link-favicon {
	display: none !important;
}

/* #endregion */

}
